$light-font-color: #fcc;
$light-bg-color: rgb(250, 140, 140);
$light-bg-color-alfa: rgba(255, 140, 140, 0.75);
$middle-bg-color: rgb(145, 118, 118);
$dark-font-color: #444;
//$active-font-color: #727272
$active-font-color: rgb(250, 80, 80)