<div class="container bg__forms vh-100">
    <h3 class="mt-3">Szerkesztés</h3>
    
    <div class="row justify-content-center">
        <div class="col-md-2">
            <div class="">
                <img class="" src="" alt="signPlace" srcset="">
            </div>
        </div>
        <div class="col-md-6">
            <form (ngSubmit)="onSave(child)" *ngIf="child$ | async as child">
                <div class="row">
                    <div class="col">
                        <label for="surname" class="form-label">Vezetéknév</label>
                        <input [(ngModel)]="child['surname']" name="surname" type="text" class="form-control"
                            placeholder="Vezetéknév" aria-label="surname" id="surname">
                    </div>
                    <div class="col">
                        <label for="firstname" class="form-label">Keresztnév</label>
                        <input [(ngModel)]="child['firstname']" name="firstname" type="text" class="form-control"
                            placeholder="Keresztnév" aria-label="firstname" id="firstname">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="age" class="form-label">Kor</label>
                        <input [(ngModel)]="child['age']" name="age" type="text" class="form-control" placeholder="Kor"
                        id="age">
                    </div>
                    <div class="col">
                        <label for="picture" class="form-label">Jel</label>
                        <input [(ngModel)]="child['picture']" name="picture" type="text" class="form-control" placeholder="Jel"
                        id="picture">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="kindergarten" class="form-label">Tagóvoda</label>
                        <select [(ngModel)]="child['kindergarten']" name="kindergarten" class="form-select"
                        aria-label="Default select example">
                        <option selected>Válassz Óvodát!</option>
                        <option *ngFor="let kindergarten of kindergartens$ | async" [value]="kindergarten['_id']"> {{ kindergarten.name}} </option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="group" class="form-label">Csoport</label>
                        <select [(ngModel)]="child['group']" name="group" class="form-select"
                        aria-label="Default select example">
                        <option selected>Válassz Csoportot!</option>
                        <option *ngFor="let group of groups$ | async" [value]="group['_id']"> {{ group.name}} </option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="mothername" class="form-label">Anya neve</label>
                        <input [(ngModel)]="child['mothername']" name="mothername" type="text" class="form-control"
                            placeholder="Anya neve" aria-label="surname" id="mothername">
                    </div>
                    <div class="col">
                        <label for="phone" class="form-label">Telefon</label>
                        <input [(ngModel)]="child['phone']" name="phone" type="text" class="form-control"
                            placeholder="Telefon" aria-label="phone" id="phone">
                    </div>
                </div>
                <div class="my-3 form-check">
                    <input [(ngModel)]="child['active']" name="active" type="checkbox" class="form-check-input"
                        id="active">
                    <label class="form-check-label" for="active">Aktív</label>
                </div>
                <button type="submit" class="btn-sm w-100 btn-outline-light btn__save mb-5">
                    <span>Mentés </span>
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                </button>
            </form>
        </div>
    </div>
</div>

<!-- <ngx-edit-form></ngx-edit-form> -->