<div class="container bg__forms vh-100">
    <h3 class="mt-4">Szerkesztés</h3>

    <div class="row justify-content-center mt-4">
        <form #kindergartenForm="ngForm" (ngSubmit)="onSave(kindergartenForm, kindergarten)"
            *ngIf="kindergarten$ | async as kindergarten" class="row">
            <div class="form-group">
                <input [(ngModel)]="kindergarten['_id']" type="hidden" name="id" class="user-select-none">
            </div>
            <div class="col-md-2 p-4 m-2 border-end">
                <div class="form-group">
                    <img [src]="getImageSrc(kindergarten)" class="file-input__preview p-2 mb-2 border">
                    <app-file-uploader (uploaded)="uploadSuccess($event)"></app-file-uploader>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row mb-3">
                    <div class="col">
                        <label for="name" class="form-label">Név</label>
                        <input [(ngModel)]="kindergarten['name']" name="name" type="text" class="form-control"
                            placeholder="Név" aria-label="name" id="name" required pattern="^[A-Ű][a-ű]+$">
                        <div [hidden]="kindergartenForm.controls['name'].valid" class="error-message text-danger">
                            Csak betűket tartalmazhat, szóeleji nagybetűvel.
                        </div>
                    </div>
                    <div class="col">
                        <label for="address" class="form-label">Cím</label>
                        <input [(ngModel)]="kindergarten['address']" name="address" type="text" class="form-control"
                            placeholder="Cím" aria-label="address" id="address" required
                            pattern="^111[0-9] Budapest, [A-Ű][a-ű]+ (utca|út|köz|tér|körtér) [1-9][0-9]{0,2}\.$">
                        <div [hidden]="kindergartenForm.controls['address'].valid" class="error-message text-danger">
                            Csak XI. kerületi, budapesti cím érvényes.
                            Minta: 1111 Budapest, Aaa út 11.
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="numOfEmployees" class="form-label">Alkalmazottak száma</label>
                        <input [(ngModel)]="kindergarten['numOfEmployees']" name="numOfEmployees" type="number"
                            class="form-control" placeholder="Alkalmazottak száma" id="numOfEmployees">
                        <div [hidden]="kindergartenForm.controls['numOfEmployees'].valid"
                            class="error-message text-danger">
                            Csak számot tartalmazhat.
                        </div>
                    </div>
                    <div class="col">
                        <label for="numOfGroups" class="form-label">Csoportok száma</label>
                        <input [(ngModel)]="kindergarten['numOfGroups']" name="numOfGroups" type="number"
                            class="form-control" placeholder="Csoportok száma" id="numOfGroups">
                        <div [hidden]="kindergartenForm.controls['numOfGroups'].valid"
                            class="error-message text-danger">
                            Csak számot tartalmazhat.
                        </div>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col">
                        <label for="maxHeadcountOfChildren" class="form-label">Max gyermek létszám</label>
                        <input [(ngModel)]="kindergarten['maxHeadcountOfChildren']" name="maxHeadcountOfChildren"
                            type="number" class="form-control" placeholder="Max gyermek létszám"
                            id="maxHeadcountOfChildren">
                        <div [hidden]="kindergartenForm.controls['maxHeadcountOfChildren'].valid"
                            class="error-message text-danger">
                            Csak számot tartalmazhat.
                        </div>
                    </div>
                    <div class="col">
                        <label for="actualHeadcountOfChildren" class="form-label">Aktuális létszám</label>
                        <input [(ngModel)]="kindergarten['actualHeadcountOfChildren']" name="actualHeadcountOfChildren"
                            type="number" class="form-control" placeholder="Aktuális létszám"
                            id="actualHeadcountOfChildren">
                        <div [hidden]="kindergartenForm.controls['actualHeadcountOfChildren'].valid"
                            class="error-message text-danger">
                            Csak számot tartalmazhat.
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn-sm w-100 btn-outline-light btn__save mb-5">
                    <span>Mentés </span>
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                </button>
            </div>
        </form>
    </div>
</div>
