<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Tagóvodák</h1>
</div>

<h3>Tagóvodák listája</h3>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <div class="btn-toolbar mb-2 mb-md-0">
        <button type="button" class="btn btn-sm btn-outline-secondary" [routerLink]="['/', 'tagovoda', 0 ]">Új tagóvoda</button>
    </div>
</div>

<ngx-data-table *ngIf="list$ | async as list" [columns]="columns" [list]="list"></ngx-data-table>