<div class="container bg__forms vh-100">
    <h3 class="mt-4">Szerkesztés</h3>
    
    <div class="row justify-content-center mt-4">
        <form #employeeForm="ngForm" (ngSubmit)="onSave(employeeForm, employee)" *ngIf="employee$ | async as employee" class="row">
            <div class="form-group">
                <input [(ngModel)]="employee['_id']" type="hidden" name="id" class="user-select-none">
            </div>
            <div class="col-md-2 p-4 m-2 border-end">
                <div class="form-group">
                    <div class="border mb-2">
                    <img [src]="getImageSrc(employee)" class="file-input__preview p-2 mb-2" alt="Kép helye">
                    </div>
                    <app-file-uploader (uploaded)="uploadSuccess($event)"></app-file-uploader>
                </div>
            </div>
            
            
            <div class="col-md-6">
                <div class="row mb-3">
                    <div class="col">
                        <label for="surname" class="form-label">Vezetetéknév</label>
                        <input [(ngModel)]="employee['surname']" name="surname" type="text" class="form-control"
                            placeholder="Vezetetéknév" aria-label="surname" id="surname" 
                            required pattern="^([A-Ű][a-ű.]+[ -])*[A-Ű][a-ű]+$">
                            <div [hidden]="employeeForm.controls['surname'].valid" class="error-message text-danger">
                                Csak betűkett, pontot és kötőjelet tartalmazhat, szóeleji nagybetűvel.
                            </div>
                    </div>
                    <div class="col">
                        <label for="firstname" class="form-label">Keresztnév</label>
                        <input [(ngModel)]="employee['firstname']" name="firstname" type="text" class="form-control"
                            placeholder="Keresztnév" aria-label="firstname" id="firstname" 
                            required pattern="^([A-Ű][a-ű.]+[ -])*[A-Ű][a-ű]+$">
                            <div [hidden]="employeeForm.controls['firstname'].valid" class="error-message text-danger">
                                Csak betűket, pontot és kötőjelet tartalmazhat, szóeleji nagybetűvel.
                            </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="position" class="form-label">Munkakör</label>
                        <select [(ngModel)]="employee['position']" name="position" class="form-select"
                            aria-label="Default select" required>
                            <option selected>Válassz munkakört!</option>
                            <option *ngFor="let position of positions" [value]="position"> {{ position }}
                            </option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="skills" class="form-label">Egyéb kompertenciák</label>
                        <input [(ngModel)]="employee['skills']" name="skills" type="text" class="form-control" placeholder="Egyéb kompertenciák"
                        id="skills">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="kindergarten" class="form-label">Tagóvoda</label>
                        <select [(ngModel)]="employee['kindergarten']" name="kindergarten" class="form-select"
                            aria-label="Default select" required>
                            <option selected>Válassz Óvodát!</option>
                            <option *ngFor="let kindergarten of kindergartens$ | async" [value]="kindergarten['_id']"> {{ kindergarten.name}} </option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="group" class="form-label">Csoport</label>
                        <select [(ngModel)]="employee['group']" name="group" class="form-select"
                            aria-label="Default select" required>
                            <option selected>Válassz Csoportot!</option>
                            <option *ngFor="let group of groups$ | async" [value]="group['_id']"> {{ group.name}} </option>
                        </select>
                    </div>
                </div>
                <div class="my-3 form-check">
                    <input [(ngModel)]="employee['active']" name="active" type="checkbox" class="form-check-input"
                        id="active">
                    <label class="form-check-label" for="active">Aktív</label>
                </div>
                <button type="submit" class="btn-sm w-100 btn-outline-light btn__save mb-5"
                [disabled]="!employeeForm.valid">
                    <span>Mentés </span>
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                </button>
            </div>
            </form>
    </div>
</div>

<app-file-uploader></app-file-uploader>

<!-- <ngx-edit-form></ngx-edit-form> -->